body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	width: 100vw;
}

.mobile-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	background-color: black;
}

@media (min-width: 880px) {
	.mobile-nav {
		display: none;
	}
}

.mobile-nav-bar {
	position: relative;
	width: 100vw;
	margin-bottom: 20px;
}

.mobile-nav-toggle {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	z-index: 1001;
}

.mobile-nav-menu {
	position: absolute;
	bottom: 36px;
	left: 0px;
	transform-origin: bottom;
	transform: scaleY(0);
	background-color: black;
	width: 100%;
	
	opacity: 0;
	pointer-events: none;
}

	.mobile-nav-menu.active {
		transform: scaleY(1);
		opacity: 1;
		pointer-events: auto;
	}

.mobile-nav-items {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mobile-nav-item {
	padding: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: lightgrey;
	border-bottom: 1px solid lightgrey;
	text-decoration: none;
	font-size: 80%;
}

header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	padding: 40px 0;
	position: relative;
	overflow: hidden;
	color: white;
}

@media (min-width: 880px) {
	header {
		height: 650px;
		padding: 0;
	}
}

.header-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	filter: brightness(0.3);
}

.header-container {
	width: 95%;
	z-index: 1;
}

@media (min-width: 880px) {
	.header-container {
		width: 70%;
	}
}

.main-nav {
	display: none;
	flex-direction: column;
	gap: 30px;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0px 80px 0px;
}

@media (min-width: 880px) {
	.main-nav {
		display: flex;
		flex-direction: row;
		gap: 0;
		margin-bottom: 60px;
	}
}

.logo {
	height: 40px;
	width: auto;
}

.nav-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	list-style: none;
	margin: 0;
	padding: 0;
}

@media (min-width: 880px) {
	.nav-menu {
		justify-content: space-between;
		gap: 20px;
	}
}

.nav-item {
	font-size: 70%;
	cursor: pointer;
}

	.nav-item .dropdown-menu {
		display: flex;
		flex-direction: column;
		visibility: hidden;
		position: absolute;
		background-color: red;
		z-index: 2;
	}

	.nav-item:hover .dropdown-menu {
		visibility: visible;
	}

	.nav-item .dropdown-menu a {
		max-width: 100%;
		color: white;
		padding: 5px 10px;
		text-decoration: none;
	}

	.nav-item .dropdown-menu a:hover {
		background-color: darkred;
	}

.hero-content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	padding-top: 30px;
}

@media (min-width: 880px) {
	.hero-content {
		grid-template-columns: 1fr 1fr;
		gap: 60px;
	}
}

.hero-offer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.hero-title {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2;
	margin: 0;
}

@media (min-width: 880px) {
	.hero-title {
		font-size: 48px;
	}
}

.hero-subtitle {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
}

.btn-tariffs {
	display: none;
	align-self: flex-start;
	padding: 12px 32px;
	color: white;
	background-color: transparent;
	border: 2px solid red;
	border-radius: 5px;
	font-weight: 600;
	cursor: pointer;
}

@media (min-width: 800px) {
	.btn-tariffs {
		display: block;
	}
}

.stats-row {
	display: grid;
	gap: 15px;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	list-style: none;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
}

@media (min-width: 880px) {
	.stats-row {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto;
	}
}

	.stats-row li {
		width: 90%;
		padding: 5px;
		margin-top: 40px;
	}

.stats-elem {
	width: 50%;
	display: block;
	border-left: 2px solid red;
}

@media (min-width: 880px) {
	.stats-elem {
		width: 33%;
	}
}

	.stats-elem h3 {
		font-size: 32px;
		font-weight: 600;
		margin: 0 0 10px 0;
	}

	.stats-elem p {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.4;
		margin: 0;
	}


main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
}

@media (min-width: 880px) {
	main {
		width: 100%;
		background: linear-gradient(to top right, white, deeppink);
		background-color: 
	}
}

.gallery-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
}

@media (min-width: 880px) {
	.gallery-wrapper {
		width: 40%;
	}
}

.gallery-track {
	display: flex;
	flex-direction: row;
	transition: transform 0.3s;
	width: 100%;
	margin: 0 10px;
}

.slide {
	display: flex;
	justify-content: center;
	min-width: 100%;
}

.slide-content {
	display: flex;
	flex-direction: column;
	width: 425px;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

	.slide-content h3 {
		width: 80%;
		align-self: center;
		padding-bottom: 30px;
		border-bottom: 2px solid lightgrey;
		font-size: 24px;
		color: darkorange;
	}

	.slide-content ul li {
		margin: 15px;
		font-size: 16px;
	}

	.slide-content ul li::marker {
		color: darkorange;
	}

	.slide-content button {
		align-self: center;
		width: 300px;
		height: 60px;
		margin-top: 10px;
		margin-bottom: 50px;
		border: 3px solid darkorange;
		border-radius: 5px;
		color: darkorange;
		background-color: white;
	}

		.slide-content button:hover {
			border: 3px solid white;
			color: white;
			background-color: darkorange;
		}

.btn {
	background: white;
	width: 30px;
	height: 30px;
	border: 1px solid grey;
	border-radius: 15px;
	color: grey;
	background-color: white;
	cursor: pointer;
	z-index: 2;
}

	.btn:hover {
		background-color: aliceblue;
	}

	.btn:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}



footer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	background: linear-gradient(black, darkslategrey);
}

@media (min-width: 880px) {
	footer {
		grid-template-columns: 1fr 1fr;
	}
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 70%;
	margin: 0 auto;
}

	.form-wrapper form {
		width: 100%;
	}

.contact-us {
	color: white;
	height: 100%;
}

	.contact-us h3 {
		margin: 80px 0px 0px 20px;
	}

	.contact-us u {
		margin: 10px 0px 0px 20px;
	}

.form-group {
	margin-bottom: 5px;
}

.form-control {
	width: 100%;
	padding: 12px 15px;
	border: 1px solid grey;
	border-radius: 8px;
	background-color: transparent;
}

	.form-control::placeholder {
		font-weight: 500;
		color: lightgray;
		opacity: 1;
	}

textarea.form-control {
	min-height: 80px;
	resize: none;
}

.checkbox-group {
	display: flex;
	flex-direction: row;
	margin-top: 10px 0px;
}

	.checkbox-group input {
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}

	.checkbox-group label {
		font-size: 80%;
	}

.submit-button {
	width: 100%;
	padding: 15px;
	background-color: cadetblue;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	margin-top: 20px;
}

	.submit-button:hover {
		background-color: darkturquoise;
	}

	.submit-button:disabled {
		background-color: darkgray;
		cursor: not-allowed;
	}

	.submit-button h3 {
		margin: 0;
	}

.message {
	padding: 15px;
	border-radius: 8px;
	margin-top: 20px;
	display: none;
	text-align: center;
}

.success {
	background-color: yellowgreen;
	border: 1px solid black;
}

.error {
	background-color: firebrick;
	border: 1px solid black;
}