body {
    margin: 0px
}

header {
    height: 67px;
    width: 100vw;
    background-color: darkblue;
    padding: 15px;
}

.head {
    width: 100%;
}

.logo {
    float: left;
}

nav {
    width: 40%;
    margin-left: auto;
}

.nav_element {
    margin: 0 auto;
    float: left;
    width: 33.3%;
    color: white;
}

.name {
    color: white;
    margin: 0
}

.content {
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
    background-color: cornflowerblue;
}

table {
    width: 100%;
    text-align: center;
}

.even {
    background-color: burlywood;
}

.odd {
    background-color: blanchedalmond;
}

footer {
    margin-top: 25px;
    background-color: darkblue;
}

    footer h2 {
        margin: 0px;
        color: white;
    }